@import "setting.scss";

*{
	box-sizing: border-box;
}


body{
	background-color: #f8f8f8;
}

a{
	color: $accentcolor ;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: $accentcolor ;
	}
	&:active{
		text-decoration: none;
		color: $accentcolor ;
	}
}
.block-link{
	display: block;
}
//signup.html
.alert{
	display: none;
}

.invoice-body{
  min-width: 360px;
  max-width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 3px 20px 1px #717171;
}

#pack-wrapper{
	height: 100vh;
	background-color: $primarycolor;
}

#pack-header{
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	color: $primarycolor ;
	a{
		&:focus{
			text-decoration: none ;
		}
		&:hover{
			text-decoration: none ;
		}
	}
	h1{
		margin: 0;
		padding: 10px;
		&:hover{
			text-decoration: none;
		}
	}
}

#pack-dropdown{
	margin-bottom: 5px;
}

#amount{
	margin: 5px 0px;
}


#login-wrapper{
	height: 100vh;
	background-color: $primarycolor;
}

//login.html
#login-header{
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	color: $primarycolor ;
	a{
		&:focus{
			text-decoration: none ;
		}
		&:hover{
			text-decoration: none ;
		}
	}
	h1{
		margin: 0;
		padding: 10px;
		&:hover{
			text-decoration: none;
		}
	}
}

.wrapper {	
  margin-top: 3%;
  background-color: $primarycolor;
  padding-bottom: 10px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 3px 20px 1px #717171;  
	.form-signin-heading{
		text-transform: capitalize;
		color: $accentcolor;
	}

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	  box-sizing: border-box;

		&:focus {
		  z-index: 2;
		}
	}
	input[type="checkbox"] {
	  margin-bottom: 20px;
	}

	input{
		&:focus{
			box-shadow: none ;
		}
		&:active{
			box-shadow: none;
		}
	}

	input[type="text"] {
	  margin-bottom: 5px;	
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	button{
		text-transform: uppercase;
		background-color: $accentcolor;
		border-radius: 0;
		border: none;
		&:hover{
			background-color: $primarycolor;
			color: $accentcolor;
		}
		&:active{
			background-color: $primarycolor;
			color: $accentcolor;
		}
	}
	p{
		margin-top: 5px;
		a{
			color: $primarycolor ;
			&:hover{
				color: $accentcolor ;
			}
		}
	}
}


// index.html page

#viewport{
	height: 100vh;
}

.navbar-default{
	background-color: $accentcolor;
	border: none;
}
.navbar{
	border-radius: 0px;
}

nav{
	.navbar-brand{
		color: $primarycolor ;
	}
	.navbar-toggle{
		border-color: $primarycolor ;
		.icon-bar{
			background-color: $primarycolor ;
		}
		&:hover{
			background-color: $primarycolor ;
			.icon-bar{
				background-color: $accentcolor ;
			}
		}
	}
	#main-nav{
		li{
			a{
				font-size: 12px;
				text-transform: uppercase;
				text-align: center;
				color: $primarycolor ;			
				.glyphicon{
					text-align: center;
					margin-bottom: 5px;
				}
				&:hover{
					background-color: $primarycolor ;
					color: $accentcolor ;
				}
				&:active{
					background-color: $accentcolor ;
					color: $primarycolor ;
					border: $defaultborder ;
				}
			}
		}
	}
}

main{
	height: 80%;
	#content{
		position: relative;
	    width: 100%;
		.form-group{
			margin-bottom: 0px;
			input{
				border: 1px solid $accentcolor;
				box-shadow: none;
				height: 40px;
				&:focus{
						box-shadow: none;
					}
			}
			
		}
		.bottom-btn{
			color: $accentcolor ;
			background-color: $primarycolor;
			min-width: 88px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
		}
		.btn-default{
			border: none;
		}
		#box-toggle{
			display: none;
			width: 100%;
			margin-right:10px; 
		}
	}
}
footer{
	background-color: $accentcolor;
	height: 40px;
	text-align: center;
	color: $primarycolor;
	a{
		color: $primarycolor ;
		padding: 5px;
		&:hover{
			color: $primarycolor ;
			border: 1px solid $primarycolor;
		}
	}
}

.app-primary-button {
	text-transform: uppercase;
    background-color: #212642;
    border-radius: 0;
    border: none;
    color:$beforeHover;
    &:hover{
    	 background-color: #f3c53e;
   		color: #212642;
    }
} 
 .app-search-cotainer {
  	width: 100%; 
  	position: relative;
 }

#advnace-serach{  
	display: none;
	position: absolute;
	top:40px; 
	background-color: #fff; 
	width: calc(100% - 0px); 
	ul{
		margin: 0px;
		padding: 0px; 
		li{
			list-style: none;
			display: inline-block;	
			padding:13px 20px 5px ;
			input[type=checkbox]{
				float: left; 
				margin: 5px 0 0 0;
			}
			span{
				float: left; 
				margin: 0 0 0 5px;
				font-size: 16px;
			}
		}
			
	}
}



.app-searchBtn{
		border:none;
		background-color: $accentcolor;
		color: #fff;
		height: 40px;
		border-radius: 0px;  
		width: 80%;
		border-right: 4px solid $primarycolor;
		line-height: 30px;
		font-size:16px;
		&:hover{
			background-color: $primarycolor;
			border-right: 4px solid $accentcolor;
			color: $accentcolor; 

		}
		&:active{
			background-color: $primarycolor;
			border: 1px solid $primarycolor;
			color: $accentcolor;
		}
		&:focus{
			border: none;
			box-shadow: none;
		}
} 


 .app-searchBtn-advance {
    width: 20%;
    float:left;
	border-radius: 0px;
	background-color: $primarycolor;
	border: none;
	height: 40px;
	line-height: 30px;
	font-size:16px;
 }


.search-bar-input {
	  width: 100%;
	  border-radius: 0px;
	  padding: 8px 10px;
	  font-size: 18px;
	  max-height: 100%;
	  height: 40px;
	  border-right:none; 

}

.moveTopSearchBarBefore{
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}

.moveTopSearchBarAfter{
	transition: all 0.5s ease-in;
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 80px;
	margin-bottom: 20px;
}
#resutlCont {
	display:none;
}